.bordeGrueso {
    border: 3px solid black;
}

legend {
    background: gray;
    color: white;
}

.w-25 {
    min-width: 130px !important;
}

.resultado {
    font-size: 1.75rem !important;
}

.carta {
    height: 260px;
}

.circulo {
    border-radius: 50%!important;
    height: 40px;
    border: 1px solid black;
    background: gray;
}

.contenido {
    height: 75%;
}

.pie {
    height: 25%;
    background: gray;
}

.maximo {
    border: 3px solid black;
    border-radius: .5rem;
}

.titulo {
    height: 15%;
    width: 100%;
}

.subtitlo {
    height: 20%;
    width: 100%;
}

.click {
    cursor: pointer;
}

@media(max-width: 576px) {
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.sombra {
    background: gray;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.btn {
    width: 200px;
}

.cuadro {
    height: 50px;
    width: 50px;
    border: 1px solid black;
}

.cuadro:hover {
    border: 1px solid gold;
    background: gray;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.cambio {
    border: 1px solid gold !important;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75) !important;
}

.sin {
    background-color: transparent !important;
    border: none !important;
}

.form-control {
    background-color: transparent !important;
    border: 50rem !important;
}

.bg-gray {
    background-color: gray;
}

.fondo {
    background-color: rgb(230, 230, 230);
}

.info {
    background-color: rgb(204, 204, 204)
}

.logos {
    width: 50%;
}